/* reset css */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

/* base css */
:root {
	--c-base: #fdfffe;
	--c-main: #27292d;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	background-color: var(--c-base);
	color: var(--c-main);
}

/* link */
a:hover {
	opacity: 0.7;
	transition: 0.3s;
}

/* table */
table {
	border-collapse: collapse;
	table-layout: fixed;
}

th,
td {
	border-bottom: solid 0.1rem var(--c-main);
	padding: 1.5rem;
	text-align: center;
}

th {
	border-width: 0.3rem;
}
