/* reset css */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

button {
	border: none;
}

/* base css */
:root {
	--c-base: #fdfffe;
	--c-main: #27292d;
	--c-primary: #111f4d;
	--c-caution: #d0312d;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	background-color: var(--c-base);
	color: var(--c-main);
}

/* link */
a:hover {
	opacity: 0.7;
	transition: 0.3s;
}
