:root {
	--c-base-color: #181d31;
	--c-main-color: #f0e9d2;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	background-color: var(--c-base-color);
	color: var(--c-main-color);
}

/* table */
table {
	border-collapse: collapse;
	table-layout: fixed;
}

th,
td {
	border-bottom: solid 0.1rem var(--c-main-color);
	padding: 1.5rem;
	text-align: center;
}

th {
	border-width: 0.3rem;
}
