/*
* top-page
 */
.p-top {
	width: 100%;
}

.p-top__title {
	text-align: center;
	margin-bottom: 6rem;
}

.p-top-article {
	display: flex;
	flex-wrap: wrap;
	margin-left: -2rem;
	margin-top: -4rem;
}

.p-top-article__card {
	width: calc((100% - 6rem) / 3);
	margin-left: 2rem;
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p-top-article__link {
	text-align: center;
	margin-top: 1.6rem;
}

.p-top-article__link-inline {
	background-color: var(--c-main);
	color: var(--c-base);
	font-weight: bold;
	display: inline-block;
	padding: 0.8rem 1.2rem;
	border-radius: 0.8rem;
}

.p-top-article__title {
	font-size: 1.6rem;
	flex-grow: 1;
}

/*
* select-page
 */
.p-select {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.p-select__title {
	text-align: center;
}

.p-select__table {
	width: 100%;
	max-width: 50rem;
}

.p-select__btn-back {
	margin-top: 4rem;
}

/*
* insert-page
*/
.p-insert {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p-insert__btn-back {
	margin-top: 6rem;
}

.p-insert__form {
	margin-top: 4rem;
}

/*
* where-page
*/
.p-where__form {
	margin-top: 4rem;
}

.p-where {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p-where__table {
	margin-top: 4rem;
	max-width: 50rem;
}

/*
* users-page
 */
.p-users {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: scroll;
}

.p-users__table {
	margin-top: 4rem;
	width: 100%;
	white-space: initial;
}

.p-users__btn-back {
	margin-top: 4rem;
}

/*
* update-page
 */
.p-update {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p-update__btn-back {
	margin-top: 4rem;
}

/*
* orderby-page
　*/
.p-orderby {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p-orderby__btn-wrapper {
	margin-top: 3rem;
}

.p-orderby__table {
	margin-top: 2rem;
}

.p-orderby__btn-back {
	margin-top: 4rem;
}
